/* css styles */

.cell-output pre {
    margin-left: 0em;
    margin-top: 0em;
    /* background:              #303030; */
    background: rgba(200, 200, 200, 0.1);
    border-left: 35px solid rgba(200, 200, 200, 0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* font-size:               0.8em; */
    /* padding-left:            0.em; */
    /* padding-top:             0.em; */
}

.cell-output .sourceCode {
    background: none;
    margin-top: 0;
}

.cell>.sourceCode {
    margin-bottom: 0em;
    /* font-size:     0.875em; */
}
